In [11]:
import os
import numpy as np
import pandas as pd
import csv 
import json
from pandas.io.json import json_normalize
from datetime import datetime
from datetime import timedelta

In [12]:
default_path = 'LSC/'
seed = 42
np.random.seed(seed=seed)

In [13]:
with open('LSC/full_dataset_annotation.json') as f:
    data = json.loads(f.read())
name,lat,lng,risk_situation,step,gsr,heart_rate,skin_temp,calories,timestamp = [],[],[],[],[],[],[],[],[],[]
for date in data:
    tmp = date
    date_split = tmp.split("-")
    yy = date_split[0]
    mm = date_split[1]
    dd = date_split[2]
    stamp = datetime(int(yy),int(mm),int(dd),int('08'),int('00'),int('00'))
    if data[date]["minutes"][str(0)]['image']['image-id']is None:
        timestamp_ = datetime.timestamp(stamp)
        timestamp.append(timestamp_)
    for result in data[date]:
        if(result !='image-directory'): 
            ctr = 1
            for i in data[date][result]:
                if data[date][result][str(i)]['image']['image-id'] is None:
                    date_pred = datetime.fromtimestamp(timestamp[ctr-1])
                    date_co = date_pred+timedelta(seconds=87)
                    date_co_ = datetime.timestamp(date_pred+timedelta(seconds=87))
                    timestamp.append(date_co_)
                else:
                    tmp_loc = data[date][result][str(i)]['image']['image-id'].split("_")
                    my_date_loc = tmp[1]
                    date_split_loc = date.split("-")
                    yy_loc = date_split[0]
                    mm_loc = date_split[1]
                    dd_loc = date_split[2]
                    my_time_loc = tmp_loc[2]
                    h=my_time_loc[0]+my_time_loc[1]
                    m=my_time_loc[2]+my_time_loc[3]
                    s=my_time_loc[4]+my_time_loc[5]
                    stamp = datetime(int(yy_loc),int(mm_loc),int(dd_loc),int(h),int(m),int(s))
                    timestamp_ = datetime.timestamp(stamp)
                    timestamp.append(timestamp_)
                ctr = ctr + 1
                if(len(data[date][result][str(i)]['location']['name']) == 0):
                    name.append(np.nan)
                else:
                    name.append(data[date][result][str(i)]['location']['name'])
                    
                if(len(data[date][result][str(i)]['location']['latitude']) == 0):
                    lat.append(np.nan)
                else:
                    lat.append(data[date][result][str(i)]['location']['latitude'])
                    
                if(len(data[date][result][str(i)]['location']['longitude']) == 0):
                    lng.append(np.nan)
                else:
                    lat.append(data[date][result][str(i)]['location']['longitude'])
                    
                if(data[date][result][str(i)]['image']['risk_situation'] is None):
                    risk_situation.append(np.nan)
                else:
                    risk_situation.append(data[date][result][str(i)]['image']['risk_situation'])
                    
                if(data[date][result][str(i)]['bodymetrics']['steps'] is None):
                    step.append(np.nan)
                else:
                    step.append(data[date][result][str(i)]['bodymetrics']['steps'])
                    
                if(data[date][result][str(i)]['bodymetrics']['gsr'] is None):
                    gsr.append(np.nan)
                else:
                    gsr.append(data[date][result][str(i)]['bodymetrics']['gsr'])  
                
                if(data[date][result][str(i)]['bodymetrics']['heart-rate'] is None):
                    heart_rate.append(np.nan)
                else:
                    heart_rate.append(data[date][result][str(i)]['bodymetrics']['heart-rate'])
                    
                if(data[date][result][str(i)]['bodymetrics']['skin-temp'] is None):
                    skin_temp.append(np.nan)
                else:
                    skin_temp.append(data[date][result][str(i)]['bodymetrics']['skin-temp'])
                    
                if(data[date][result][str(i)]['bodymetrics']['calories'] is None):
                    calories.append(np.nan)
                else:
                    calories.append(data[date][result][str(i)]['bodymetrics']['calories'])
                
df = pd.DataFrame([timestamp,name,lat,lng,step,gsr,heart_rate,skin_temp,calories,risk_situation]).T
df.columns = ["timestamp","name", "latitude", "longitude", "step","gsr","heart_rate","skin_temp","calories","risk_situation"]
df.head(20)

,timestamp,name,latitude,longitude,step,gsr,heart_rate,skin_temp,calories,risk_situation
0,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1.47124e+09,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
def create_mask(df):
    df_ = df
    df_.drop(['timestamp'], axis = 1) 
    df_=df_.notna()
    df_ *=1
    return df_
df_msk = create_mask(df)
print(df_msk.head(10))

   timestamp  name  latitude  longitude  step  gsr  heart_rate  skin_temp  \
0          1     1         0          0     0    0           0          0
1          1     1         0          0     0    0           0          0
2          1     1         0          0     0    0           0          0
3          1     1         0          0     0    0           0          0
4          1     1         0          0     0    0           0          0
5          1     1         0          0     0    0           0          0
6          1     1         0          0     0    0           0          0
7          1     1         0          0     0    0           0          0
8          1     1         0          0     0    0           0          0
9          1     1         0          0     0    0           0          0

   calories  risk_situation
0         0               0
1         0               0
2         0               0
3         0               0
4         0               0
5         0               0
6         0               0
7         0               0
8         0               0
9         0               0

In [5]:
def creat_missing_values(df, nb_rows_to_del=1):
    nb_rows = df.shape[0]
    nb_columns = df.shape[1]
    index_still = np.arange(nb_rows)
    #print(index_still)
    df_copy = df.copy()
    if nb_rows_to_del < nb_rows:
        while nb_rows-len(index_still)<nb_rows_to_del:
            index_del = np.random.randint(len(index_still)-1)
            timestamp_saved = df.iloc[index_del].__getitem__('timestamp')
            #print(timestamp_saved)
            df_copy.iloc[index_del] = [np.nan for i in range(nb_columns)]
            #print(df_copy.iloc[index_del])
            df_copy.loc[index_del, 'timestamp'] = timestamp_saved
            #print(df_copy.iloc[index_del])
            index_still = np.delete(index_still,index_del)
    return df_copy
df_copy = creat_missing_values(df, 5)
#print(df_truncated.shape)
print(df_copy.head(10))

     timestamp  name latitude longitude step  gsr heart_rate skin_temp  \
0  1.47124e+09  Home      NaN       NaN  NaN  NaN        NaN       NaN
1  1.47124e+09  Home      NaN       NaN  NaN  NaN        NaN       NaN
2  1.47124e+09  Home      NaN       NaN  NaN  NaN        NaN       NaN
3  1.47124e+09  Home      NaN       NaN  NaN  NaN        NaN       NaN
4  1.47124e+09  Home      NaN       NaN  NaN  NaN        NaN       NaN
5  1.47124e+09  Home      NaN       NaN  NaN  NaN        NaN       NaN
6  1.47124e+09  Home      NaN       NaN  NaN  NaN        NaN       NaN
7  1.47124e+09  Home      NaN       NaN  NaN  NaN        NaN       NaN
8  1.47124e+09  Home      NaN       NaN  NaN  NaN        NaN       NaN
9  1.47124e+09  Home      NaN       NaN  NaN  NaN        NaN       NaN

  calories risk_situation
0      NaN            NaN
1      NaN            NaN
2      NaN            NaN
3      NaN            NaN
4      NaN            NaN
5      NaN            NaN
6      NaN            NaN
7      NaN            NaN
8      NaN            NaN
9      NaN            NaN

In [6]:
df_copy.isna().count('name')

ValueError: No axis named name for object type <class 'type'>

In [ ]:
timestamp_saved = df.iloc[0].__getitem__('timestamp')
print(timestamp_saved)
df_nan = pd.DataFrame(columns=df.columns.values.tolist())

df_nan = df_nan.append([np.nan])
df_nan.loc[0,'timestamp'] = timestamp_saved
print(df_nan)

In [ ]:
df.iloc[0].__getitem__('risk_situation')

In [ ]:
keys = ['timestamp','name','latitude','longitude','step','gsr','heart_rate','skin_temp','calories','risk_situation']
input_keys = ['timestamp','name','latitude','longitude','step','gsr','heart_rate','skin_temp','calories','risk_situation']
timestamp_key = 'timestamp'

TODO:
Concatenate all datas,
truncate in this dataset,
make random missing data

Run.py : training / test

In [ ]:
timestamp = df['timestamp']
processed_data = {
    'input': [],
    'masking': []
}
n = len(timestamp)